div.cell div.cell_input {
    border-left-color: var(--color-brand-content);
    border-left-width: medium;
    border-radius: 0.2rem;
}

div.cell_output table {
    font-size: 0.8rem;
}

div.cell_output {
    overflow-x: scroll;
    margin-top: 0;
}

.dataframe {
    margin: 1em 0;
}

details.toggle-details summary:hover {
    background: transparent;
}

details.toggle-details summary:active {
    background: transparent;
}

details.toggle-details summary {
    background: transparent;
}