div.cell div.cell_input {
    border-left-color: #3977B9;
    border-left-width: medium;
    border-radius: 0.2rem;
}

div.cell_output table {
    font-size: 0.8rem;
}

div.cell_output {
    overflow-x: scroll;
}
