.highlight-default .highlight {
    background: #fff;
    border: 1px solid #999;  
    border-radius: 4px;
    word-wrap: break-word;
}

.highlight {
    background: #f0f0f0;
}

table.dataframe {
    font-size: 0.8rem;
}